.footy {
    background-color: rgba(10, 63, 10, 0.5);
    display: flex;
    justify-content: center;
    color: white;
}


.about-me {
    width: 800px;
    padding: 0 50px;
    text-align: left;
}

.about-me h2 {
    font-weight: 100;
}
