

article {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;  
    
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 200;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: white;
    -webkit-transition: color 1s;
}

h4:hover {
    -webkit-transition: color 1s;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 16, 0, .5);

}

.main-container {
    display: flex;
    justify-content: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.top-project-group {
    display: flex;
    justify-content: space-around;
    height: 280px;
}

.bottom-project-group {
    display: flex;
    justify-content: space-around;
    height: 280px;
}



@media screen and (max-width: 850px) {
    .top-project-group {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;

    } 

    .bottom-project-group {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;

    }
    
    _::-webkit-full-page-media, _:future, :root .top-project-group {
        margin-bottom: 13vw;
    }

    _::-webkit-full-page-media, _:future, :root .bottom-project-group {
        margin-top: 13vw;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
        word-spacing: 500px;
    }

    h4 {
        font-size: 24px;
    }
    
    .project-container {
        height: 700px;
    }

    .top-project-group {
        width: 100%;
    }

    .bottom-project-group {
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    _::-webkit-full-page-media, _:future, :root .top-project-group {
        margin-bottom: 20vw;
    }

    _::-webkit-full-page-media, _:future, :root .bottom-project-group {
        margin-top: 20vw;
    }
}

@media screen and (max-width: 600px) {
    _::-webkit-full-page-media, _:future, :root .top-project-group {
        margin-bottom: 28vw;
    }

    _::-webkit-full-page-media, _:future, :root .bottom-project-group {
        margin-top: 28vw;
    }
}