.pc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc-wrap h2 {
    font-weight: 100;
}

.project-card {
    border-radius: 1%;
    background-color: rgba(0, 16, 0, .5);
    width: 300px;
    padding: 10px;
}

.project-card h3 {
    color: white;
    font-weight: 100;
}

.project-card p {
    color: white;
}

.project-card .proj-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 5px 0;
}

.project-card p a {
    text-decoration: none;
    color: white;
    -webkit-transition: color .5s;
}

.project-card p a:hover {
    color: rgba(0, 16, 0, .5);
    -webkit-transition: color .5s;
}