.pc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 100px 0;
}

.pc-wrap h2 {
    font-weight: 100;
}

.project-card {
    border-radius: 1%;
    background-color: rgba(0, 16, 0, .5);
    width: 300px;
    padding: 10px;
    margin: 10px;
}

.project-card h3 {
    color: white;
    font-weight: 100;
}

.project-card p {
    color: white;
}

.project-card .proj-links {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 5px 0;
}

.project-card p a {
    text-decoration: none;
    color: white;
    -webkit-transition: color .5s;
}

.project-card p a:hover {
    color: rgba(0, 16, 0, .5);
    -webkit-transition: color .5s;
}

@media screen and (max-width: 850px) {
    .project-card {
        width: 80%;
        margin: 5px;
    }
    .pc-wrap h2 {
        color: white;
    }
}

@media screen and (max-width: 730px) {
    .pc-wrap {
        margin: 100px 0 150px 0;

    }
}

@media screen and (max-width: 500px) {
    .pc-wrap {
        margin: 110px 0 160px 0;

    }

    .project-card {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .pc-wrap {
        margin: 90px 0 160px 0;

    } 
}
